html,
body,
#app,
#app > div {
  height: 100vh;
}

a {
  text-decoration: none;
  color: #0000ee;
}
a:visited {
  text-decoration: none;
  color: #0000ee;
}
a:hover {
  text-decoration: none;
  color: #000;
}

.Note {
  display: flex;
  flex-wrap: nowrap !important;
  background: #eee;
  height: 100%;
}
.textFieldPart {
  width: 100%;
}

.moreIcon {
  visibility: hidden;
  right: 0;
}
.autoTextArea {
  margin: 0 auto;
  justify-content: center;
}
.addNoteButton {
  width: 100%;
  justify-content: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.filesPart {
  padding: 10px;
  margin-top: 2vh;
  grid-template-columns: 2fr 2fr;
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
  min-height: 20vh;
  .File {
    overflow: hidden;
    justify-content: center;
    text-align: center;
    min-width: 200px;
    width: 20vw;
    max-width: 600px;
    word-wrap: break-word;
    height: 8vh;
    min-height: 50px;
    max-height: 300px;
    background: #fff;
    margin: auto;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  }

}
.textNotesPart {
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  grid-gap: 1vh;
  justify-content: center;
}
.filesHeader {
  justify-content: center;
  text-align: center;
}
.notesHeader {
  justify-content: center;
  text-align: center;
}
.saveChanges {
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.addPart {
  background: #e3e3e3;
  min-width: 550px;
  height: 100%;
  width: 50vw;
  padding: 5px;
  overflow: auto;
}
.quill {
  padding: 30px;
  width: 100%;
  a {
    span {
      color: #222831;
    }
  }
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.editQuill {
  a {
    span {
      color: #222831;
    }
  }
  padding: 15px;
  width: 100%;
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.header {
  box-sizing: content-box;
  margin: 0;
  width: 100%;
  word-wrap: break-word;
  background: #eee;
  color: #fff;
  min-width: 0;
}
.rightPart {
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap !important;
  width: 50vw;

}
.addFile {
  width: 60%;
  text-align: center;
  padding: 30px;
  padding-top: 10px;
  margin-top: 10px;
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}
.progressbarPart {
  margin: auto;
}

.NoteTextGrid {
  min-width: 250px;
  word-wrap: break-word;
  max-width: 600px;
  padding: 5px;
  overflow: auto;
  height: 16vh;
  min-height: 175px;
  max-height: 300px;
  background: #fff;

  margin-top: 1vh;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.NoteText {
  word-wrap: break-word;
  min-width: 200px;
}
.noteTextPart {
  word-wrap: break-word;
  max-width: 9vw;
}
.messageBodyStyle {
  word-wrap: break-word;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  justify-content: center;
  width: 60vw;
  height: 50vw;
  background: #fff;
  padding: 20px;
  overflow: auto;
}
.rightHeader {
  margin-right: auto;
  padding: 10px;
  display: flex;
  overflow: hidden;
  background: #f50057;
  color: white;
  width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.divIcons {
  top: 0;
  margin-top: 0;
}
.iconsAndText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.searchbarPart {
  width: 35vw;
  margin: auto;
  justify-content: center;
}
.keyPart {
  Button {
    margin-left: 15px;
    width: 120px;
    height: 40px;
  }
  .donePart {
    display: flex;
    flex-direction: row;
  }
  .changePart {
    display: flex;
    flex-direction: row;
  }

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  padding: 15px;
  background: #fff;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1000px) {
  .filesPart {
    .File {
      width: 40vw;
    }
  }
  body {
    overflow: scroll;
  }
  .addFile {
    width: 100%;
  }
  .rightHeader {
    width: 97%;
  }
  .searchbarPart {
    width: 70vw;
  }
  .noteTextPart {
    max-width: 18vw;
    overflow: visible;
  }
  .messageBodyStyle {
    padding: 15px;
    height: 90vh;
    width: 75vw;
  }
  .quill {
    width: 100%;
  }
  .editQuill {
    width: 100%;
    padding: 0px;
    margin: auto;
    justify-content: center;
    background: #fff;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
  }
  .rightPart {
    width: 100vw;
  }
  .Note {
    flex-direction: column;
  }
  .addPart {
    overflow: visible;
    width: 100vw;
    border-left: none;
    padding: 10px;
    margin: auto;
  }
  .noteTextGrid {
    max-width: 45vw;
    width: 45vw;
    border: none;
    margin: auto;
  }
  .addNoteButton {
    margin: auto;
    width: 90vw;
    padding: 10px;
    transition: all 400ms ease-out;
  }
}
@media (max-width: 550px) {
  .rightHeader {
    width: 95%;
  }

  .noteTextPart {

    max-width: 36vw;
  }

  .textFieldPart {
    grid-template-columns: 1fr;
  }
  .addPart {
    width: 100vw;
    min-width: 100px;
    margin: auto;
    justify-content: center;
  }
  .NoteTextGrid {
    max-width: 95vw;
    min-width: 100px;
    margin: auto;
    justify-content: center;
  }
}
