.App {
  height: 100vh;
}
html,
body,
#app,
#app > div {
  height: 100vh;
}
.Login {
  height: 100vh;
  background-image: radial-gradient(circle at top left, rgb(195, 195, 195) 0%, rgb(195, 195, 195) 2%,rgb(245,0,87) 2%, rgb(245,0,87) 23%,rgb(209, 209, 209) 23%, rgb(209, 209, 209) 55%,rgb(217, 217, 217) 55%, rgb(217, 217, 217) 80%,rgb(245,0,87) 80%, rgb(245,0,87) 86%,rgb(231, 231, 231) 86%, rgb(231, 231, 231) 96%,rgb(245,0,87) 96%, rgb(245,0,87) 100%);
}
.LoginPart {
  min-height: 400px;
  min-width: 250px;
  height: 65vh;
  width: 40vw;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #eaeaea;
  padding: 5vh 5vw;
  border-style: solid;
  border-color: gray;
}
.SignOutButton {
  margin: 0 auto;
  position: fixed !important;
  top: 0;
  right: 0;
  height: 40px;
}
.noteLogo1 {

  margin: auto;
  width: 30vw;
  height: 25vh;
  min-width: 200px;
  min-height: 125px;
}
.noteLogo2 {
  right: 0;
  bottom: 0;
  position: absolute;
  width: 40vw;
  height: 40vh;
  min-width: 170px;
  min-height: 220px;
  margin: auto;
}

